[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"
pytest = "*"
pytest-asyncio = "*"
boto3 = "*"
"jaraco.path" = "*"

[dev-packages]

[requires]
python_version = "3.9"
